<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="CSS/stylesanalisis.css">
    <link rel="stylesheet" href="CSS/normalize.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"/>
    <title>AnalisisDeGastos</title>
</head>
<body>

    {% extends "menu.html" %}

<main>

    {% block content1 %}
    
        <h2>Analisis de Gastos</h2>

        <img src="{{ url_for('graficarRuta') }}" alt="Gráfica de Análisis de Gastos">

    {% endblock %}

</main>

<script src="js/script.js"></script>    
</body>
</html>