<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Análisis de Gastos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/normalize.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"/>
    <style>
        .center-container {
            display: flex;
            justify-content: center;
            align-items: center;

        }
    </style>
</head>
<body>

    {% extends "menu.html" %}

<main>

    {% block content1 %}

        <div style="text-align: center; margin-top: 20px;">
    
        <h2>Analisis de Gastos</h2>

        <img src="{{ url_for('graficarMes') }}" alt="Gráfica Total">

        </div>

        <div style="text-align: center; margin-top: 20px;">

        <img src="{{ url_for('graficarRuta') }}" alt="Gráfica de Análisis Gastos">

        </div>

        <div style="text-align: center; margin-top: 20px;">

            <img src="{{ url_for('graficarEstado') }}" alt="Gráfica de Análisis Estado">
    
        </div>

        <div class="center-container">
            <form action="/generarPdf" method="POST" style="text-align: center; margin-top: 20px;">
                 <button type="submit" style="background-color: #4CAF50; color: white; padding: 15px 32px; text-align: center; text-decoration: none; display: inline-block; font-size: 16px; margin: 4px 2px; cursor: pointer; border: none; border-radius: 4px;">PDF</button> 
            </form>
        </div>

    {% endblock %}

</main>

<script src="js/script.js"></script>    
</body>
</html>
