<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/style_login.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/normalize.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"/>
</head>
<body>
    <div class="login-container">
        <div class="user">
            <h1>Error</h1>
            <p>Credenciales incorrectas, intenta de nuevo.</p>
            
            <a href="{{ url_for('login') }}" class="btn primary">
                    <button type="submit" style="margin-top: 15px;">Volver al inicio de sesión</button>
            </a>
        </div>
        
    </div>
    
    <div class="error-container">
      
    </div>
</body>
</html>