<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina principal</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/normalize.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" /> 
</head>
<body>

    {% extends "menu.html" %}

    {% block content1 %}

        <main>
            <div class="movimientos"><h2>Tarjetas de debito</h2></div>
            <div class="container">
                
                    {% for card in debit_cards %}
                    <div class="movement-card">
                            <div>
                                <p><strong>Nombre:</strong> {{ card[1] }}</p>
                                <p><b>Número:</b> {{ card[4] }}</p>
                                <p><b>Saldo:</b> ${{ card[3] }}</p>
                            </div>
                        </div>
                    {% endfor %}
                
            </div>
        
            <div class="movimientos"><h2>Tarjetas de credito</h2></div>
            <div class="container">
                
                {% for card in credit_cards %}
                <div class="movement-card">
                        <div>
                            <p><strong>Nombre:</strong> {{ card[1] }}</p>
                            <p><b>Número:</b> {{ card[4] }}</p>
                            <p><b>Saldo:</b> ${{ card[3] }}</p>
                        </div>
                    </div>
                {% endfor %}
            
        </div>
            </div>    
        </main>

       

    {% endblock %}

    {% block content2 %}

        <div class="botones-container">
            <div class="botones">
                <a href="/templates/preguntas_frecuencias.html"><button class="boton">
                    <span class="material-symbols-outlined">add_card</span>
                    <br>
                    Agregar Tarjetas
                </button>
                </a>
                <button class="boton">
                    <span class="material-symbols-outlined">question_answer</span>
                <br>
                    Preguntas Frecuentes
                </button>
                <a href="{{ url_for('logout') }}">
                <button class="boton">
                    <span class="material-symbols-outlined">logout</span>
                    <br>
                    Cerrar sesión
                </button>
                </a>
            </div>
        </div>
    
    {% endblock %}

</body>
</html>
