<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/style_login.css')}}">
    <title>Login SelfBank</title>
</head>
<body>
    <div class="login-container">
        <div class="user">
            <h1>SelfBank</h1>
        </div>
        <h2>Inicio Sesión</h2>
        <form action="/login" method="POST">  <!-- Agregar el formulario y método POST -->
            <div class="input">
                <input type="email" placeholder="Correo electrónico" name="email" required>  <!-- Asegúrate de que los campos tengan el atributo name -->
            </div>
            <div class="input">
                <input type="password" placeholder="Contraseña" name="password" required>  <!-- Asegúrate de que los campos tengan el atributo name -->
            </div>
            <div class="registro">
                <p>¿Todavía no tienes cuenta? <a href="{{ url_for('registro') }}">Regístrate aquí</a></p>
            </div>
            <button type="submit">Entrar</button>  <!-- Agregar un botón de tipo submit -->
        </form>
    </div>
</body>
</html>
