<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Movimientos</title>
    <link rel="stylesheet" href="{{url_for ('static', filename = 'CSS/stylesmovimientos.css')}}" />
    <link rel="stylesheet" href="{{url_for ('static', filename = 'CSS/normalize.css')}}" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"/>
  </head>
  <body>
    {% extends "menu.html" %}
    {% block content1 %}
    <div class="bottom_movimiento">
      <a href="{{ url_for('registro_movimiento') }}" class="btn-modificar">Agregar movimiento</a>
    </div>
    <div class="container">
        <div class="movements-count">Movimientos este mes: 5</div>

        <!-- Ejemplo de una tarjeta de movimiento -->
        <div class="movement-card">
            <div>
                <p><strong>Título de la empresa</strong></p>
                <p>Pago con: Efectivo</p>
                <p>Monto: XXXX$</p>
            </div>
            <span class="icon">📄</span>
        </div>

        <div class="movement-card">
          <div>
              <p><strong>Título de la empresa</strong></p>
              <p>Pago con: Efectivo</p>
              <p>Monto: XXXX$</p>
          </div>
          <span class="icon">📄</span>
      </div>

      <div class="movement-card">
        <div>
            <p><strong>Título de la empresa</strong></p>
            <p>Pago con: Efectivo</p>
            <p>Monto: XXXX$</p>
        </div>
        <span class="icon">📄</span>
    </div>

    <div class="movement-card">
      <div>
          <p><strong>Título de la empresa</strong></p>
          <p>Pago con: Efectivo</p>
          <p>Monto: XXXX$</p>
      </div>
      <span class="icon">📄</span>
  </div>

  <div class="movement-card">
    <div>
        <p><strong>Título de la empresa</strong></p>
        <p>Pago con: Efectivo</p>
        <p>Monto: XXXX$</p>
    </div>
    <span class="icon">📄</span>
</div>

<div class="movement-card">
  <div>
      <p><strong>Título de la empresa</strong></p>
      <p>Pago con: Efectivo</p>
      <p>Monto: XXXX$</p>
  </div>
  <span class="icon">📄</span>
</div>

    </div>
</div>
{% endblock %}

    <script src="js/script.js"></script>
  </body>
</html>
