<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Movimientos</title>
    <link rel="stylesheet" href="{{url_for ('static', filename = 'CSS/stylesmovimientos.css')}}" />
    <link rel="stylesheet" href="{{url_for ('static', filename = 'CSS/normalize.css')}}" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"/>
  </head>
  <body>
    {% extends "menu.html" %}
    {% block content1 %}
    <div class="movimientos"><h2>Movimientos este mes: {{ movements|length }} </h2></div>
    <div class="container">
      <div class="bottom_movimiento" style="margin-bottom: 20px;">
      

        <a href="{{ url_for('registro_movimiento') }}" >Agregar movimiento</a>
      </div>
      <p></p>
        {% for movement in movements %}
        
        <div class="movement-card">
            <div>
              {% if movement[6] %}
              <p><b>Dinero Reservado</b></p>
              {% else %}
                <p><strong>{{ movement[0] }}</strong></p>
                <p><b>Fecha:</b> {{ movement[1] }}</p>
                {% if movement[3] != 0 %}
                  <p><b>Egresos:</b> ${{ movement[3] }}</p>
                  {% else %}
                  <p><b>Ingresos:</b> ${{ movement[2] }}</p>
                {% endif %}
              {% endif %}
                <p><b>Tipo de Tarjeta:</b> {{ movement[4] }}</p>
            </div>
            <span class="icon">📄</span>
        </div>

        {% endfor %}
    </div>
</div>
{% endblock %}

    <script src="js/script.js"></script>
  </body>
</html>
