<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notificaciones</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/stylesnotificaciones.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/normalize.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"/>
</head>
<body>
    {% extends "menu.html" %}

    <main>
       {% block content1 %}
        <div class="container">
            <div class="notificaciones">
                <h2>Notificaciones</h2>
                <div class="filtro-opt">
                    
                    <label>
                        <input type="radio" name="filtro" value="todo" checked onclick="filterNotifications('todo')"> Todas
                    </label>
                    <label>
                        <input type="radio" name="filtro" value="leido" onclick="filterNotifications('leido')"> Leídas
                    </label>
                    <label>
                        <input type="radio" name="filtro" value="no_leido" onclick="filterNotifications('no_leido')"> No Leídas
                    </label>
                </div>
            </div>
            {% for notification in notifications %}
            <ul class="noti-card" data-status="{{ 'leido' if notification[2] else 'no_leido' }}">     
                    <li>
                        <p><strong>{{ notification[0] }}</strong> </p> 
                        <p> <b>Fecha:</b> {{ notification[1] }} </p> 
                        <p> <b>Leido:</b> 
                            <input type="checkbox" {% if notification[2] %}
                                                        checked
                                                    {% endif %} 
                            onchange="actualizarStatusNoti({{ notification[3] }}, this.checked)">
                        </p> 
                    </li>   
                </ul>
                <p></p>
            {% endfor %}
        </div>
        {% endblock %}
    </main>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>