<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagos</title>
    <link rel="stylesheet" href="CSS/stylespagos.css">
    <link rel="stylesheet" href="CSS/normalize.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" />
</head>
<body>
     
    {% extends "menu.html" %}

    <main>
        <h2>Pagos</h2>
            
    </main>

</body>
</html>